* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', 'Times New Roman';
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(120deg, rgb(3, 1, 1), #46120d);
  color: #ffffff;
  transition: 0.2s;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 45px;
  background: linear-gradient(rgb(85, 18, 18), rgb(26, 5, 5));
  color: rgb(248, 247, 247);
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  cursor: pointer;
}

nav a:hover {
  opacity: 0.7;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(120deg, rgb(3, 1, 1), #46120d);
  color: rgb(248, 247, 247);
  text-align: center;

}


.hero button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background: white;
  color: black;
  border-radius: 25px;
  cursor: pointer;
}

.section {
  padding: 60px 30px;
  text-align: center;
}

.profile-img {
  width: 150px;
  border-radius: 50%;
  margin: 20px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;

}

.card {
  padding: 20px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.task-card {
  margin: 40px auto;
  max-width: 600px;
  padding: 20px;
  background: rgba(198, 99, 99, 0.777);
  border-radius: 25px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.infografis {
  width: 300px;
  margin-top: 10px;
  border-radius: 10px;
}
.infografis-section {
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  margin-bottom:60px;
 
}

.infografis-card {
  background: #f4e7c3;
  max-width: 1000px;
  width: 100%;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.15);
  text-align: center;
}

.infografis-card h2 {
  color: #1f3a8a;
  margin-bottom: 15px;
}

.infografis-card p {
  color: #333;
  margin-bottom: 30px;
}

.infografis-wrapper img {
  width: 100%;
  max-width: 900px;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);
  margin-bottom: 30px;
}

.btn-download {
  background: #2f5edc;
  color: white;
  padding: 12px 30px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
  display: inline-block;
}

.btn-download:hover {
  background: #1e40af;
  transform: translateY(-3px);
}

footer {
  padding: 20px;
  background: #0e0101;
  color: white;
}

.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: 1s;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}


.bg-pattern {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    background: var(--dark-bg);
}

.floating-emoji {
    position: fixed;
    font-size: 2rem;
    opacity: 0.3;
    animation: float 6s ease-in-out infinite;
    pointer-events: none;
    z-index: 0;
}

#profil {
  padding: 80px 20px;
  text-align: center;
}

#profil h2 {
  color: #ffffff;
  margin-bottom: 40px;
  margin-top: 60px;
  letter-spacing: 5px;
}

#profil p {
  max-width: 600px;
  margin: 40px auto;
  line-height: 1.6;
  color: #dddddd;
  letter-spacing: 2px;
}

.profile-img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 20px;
}

.dokumen-section {
  padding: 5px 20px;
  display: flex;
  justify-content: center;
}

.dokumen-card {
  background: #f4e7c3;
  max-width: 900px;
  width: 100%;
  padding: 40px;
  border-radius: 15px;
  display: flex;
  gap: 30px;
  align-items: flex-start;
  box-shadow: 0 10px 30px rgba(238, 230, 230, 0.1);
  
}

.icon-box {
  background: #3b6dd8;
  color: #f4e7c3;
  font-size: 40px;
  width: 80px;
  height: 80px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#penugasan h2 {
  color: #ffffff;
}

.dokumen-card .dokumen-content h2 {
  color: #7a1c1c !important;
}

.dokumen-content p {
  max-width: 600px;
  margin-bottom: 25px;
  line-height: 1.6;
  color: #050101;
}

.btn-dokumen {
  background: #2f5edc;
  color: white;
  padding: 12px 25px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
  
}

.btn-dokumen:hover {
  background: #1e40af;
  transform: translateY(-3px);
}
.dokumen-card:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}
#skill h2 {
  color: #ffffff;
}

.card {
  background: #f4e7c3;
  color: #5a0f0f;
}



.title {
  font-size: 20px;
  font-weight: bold;
  color: #1c2b4a;
}

.desc {
  font-size: 14px;
  color: #4b5b7a;
  margin-top: 3px;
}

.video-wrapper {
  margin-top: 10px;
  border-radius: 12px;
  overflow: hidden;
}
.task-card {
  max-width: 2000px;   
  width: 95%;
  margin: 40px auto;
  border-radius: 25px;
}
video {
  width: 100%;
  height: 500px;
  display: block;
  background: black;
  object-fit: cover;
  border-radius: 15px;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #f4e7c3;
}

.speed-select {
  padding: 5px;
  border-radius: 6px;
}

.btn {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #4f7cff;
  color: white;
}

.infografis-card,
.dokumen-card{
  transition: 0.3s;
}

.infografis-card:hover,
.dokumen-card:hover{
  transform: translateY(-6px);
}

.contact {
    padding: 60px 20px;
     
}

.contact h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.contact h1 span {
    color: #fbfaf7;
}

.subtitle {
    margin-bottom: 40px;
    font-size: 16px;
    opacity: 0.9;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 50px;
}

.cardniu {
    background: #121111;
    color: #333;
    width: 220px;
    padding: 30px 20px;
    border-radius: 15px;
    text-decoration: none;
    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(145, 184, 37, 0.2);
}

.icon {
    width: 70px;
    height: 70px;
    margin: 0 auto 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: white;
}


.github {
    background: #333;
}

.instagram {
    background: radial-gradient(circle at 30% 30%, #feda75, #d62976, #962fbf);
}

.whatsapp {
    background: #25D366;
}

.linkedin {
    background: #0077b5;
}

.email-box {
    background: rgba(198, 99, 99, 0.777);
    padding: 30px;
    border-radius: 15px;
    max-width: 600px;
    margin: 0 auto;
}

.email-box h3 {
    margin-bottom: 10px;
    color: #1d1d1b;
}
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.task-card {
  max-width: 750px;   
  width: 90%;
  margin: 40px auto;
}


.video-wrapper {
  width: 100%;
}

video {
  width: 100%;
  height: auto;
  max-height: 420px; 
  object-fit: cover;
  border-radius: 12px;
}

#portofolio h2 {
  color: #ffffff;
}


.contact h1 {
  color: #ffffff;
}

.subtitle {
  color: #ffffff;
}



